@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'holland';
  src: url('../fonts/holland/Holland.woff2') format('woff2'),
        url('../fonts/holland/Holland.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: Montserrat,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.bg-transparent-black{
  background: #0000008a;
}
.bg-transparent-green{
  background-color: #a7cc2e85;
}
