:root {
    --dark: #171717;
    --dark-2: #1c2428;
    --white: #fff;
    --white-2: #ddd;
    --white-3: #c8c8c8;
    --blue: #3498db;
}

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

body.active {
    overflow: hidden;
    z-index: -1
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--blue)
}

.background-alt {
    background: var(--dark-2);
}

/******************* ABOUT ************************/
#about {
    background: var(--dark);
    padding: 75px 15px;
    border-bottom: 1px solid #000
}

#about h2 {
    color: var(--white);
}

#about p {
    color: var(--white-2);
    margin: 0
}

/******************* EXPERIENCE ************************/
#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #000;
}

#experience h2 {
    color: var(--white);
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: var(--blue);
    z-index: 0
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: var(--blue);
    background: -webkit-linear-gradient(top, var(--blue), rgba(52, 152, 219, 0));
    background: linear-gradient(to bottom, var(--blue), rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px
}

.vtimeline-content {
    margin-left: 350px;
    background: var(--dark);
    border: 1px solid #000;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--blue);
    display: inline-block;
    margin: 0
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: var(--white-3);
    margin: 0 0 15px 0
}

.vtimeline-content p{
    color: var(--white-2);
    font-size: 0.9em;
    margin: 0
}

.vtimeline-content li {
    color: var(--white-2);
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--blue);
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: var(--white-2);
}

/******************* EDUCATION ************************/
#education {
    background: var(--dark);
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #000;
    text-align: center
}

#education h2 {
    color: var(--white);
    margin-bottom: 50px
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #000;
    text-align: left;
    color: var(--white);
}

.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: var(--blue);
}

.education-block span {
    color: var(--white-2);
    float: right
}

.education-block h4 {
    color: var(--white-3);
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}

.education-block p,
.education-block ul {
    margin: 0;
    color: var(--white-2);
    font-size: 0.9em
}

.education-block ul {
    padding: 0 0 0 15px
}

/******************* PROJECT ************************/
#projects {
    padding: 50px 15px;
    border-bottom: 1px solid #000;
    text-align: center;
}

#projects h2 {
    color: var(--white);
    margin-bottom: 50px;
}

.project {
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: var(--dark);
    border-radius: 4px;
}

.project-image {
    flex: 1.2;
    max-height: 300px;
    overflow: hidden;
}

.project-info {
    flex: 2;
    text-align: center;
    padding: 15px
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 2rem;
    margin-top: 0;
}

.project-info p {
    color: var(--white-2);
    margin-bottom: 1.3rem;
    font-size: 0.9em
}

.project-info a {
    display: inline-block;
    border: 1px solid #337ab7;
    padding: 7px 12px;
    background: var(--blue);
    color: var(--white);
}

/******************* SKILLS ************************/
#skills {
    background: var(--dark);
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: var(--white);
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: var(--white-2);
    background: var(--dark-2);
    list-style: none;
    cursor: default;
    font-size: 1.2em
}

/******************* CONTACT ************************/
#contact {
    padding: 50px 15px;
    background: #0a1c28;
    text-align: center
}

#contact h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500
}

#contact-form {
    max-width: 500px;
    margin: 0 auto
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #091f2d;
    color: #fff;
    border: 1px solid #246c9c;
    -webkit-transition: .5s ease all;
    transition: .5s ease all
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #fff
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #fff;
    opacity: 1
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #fff;
    opacity: 1
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #fff
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #1a4f73
}

#contact-form textarea {
    height: 150px;
    resize: none
}

#contact-form button {
    display: block;
    width: 100%;
    background: var(--blue);
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: var(--white);
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .5s ease all;
    transition: .5s ease all
}

#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

/******************* FOOTER ************************/
footer {
    background: #0a1c28;
    padding: 50px 0
}

.copyright {
    padding-top: 20px
}

.copyright p {
    margin: 0;
    color: var(--white);
}

.top {
    text-align: center
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center
}

.top i {
    color: var(--white);
}

.social {
    text-align: right
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0
}

.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none
}

.social a {
    display: block;
    color: var(--white);
    padding: 10px
}

.social a:hover {
    color: #3498db
}
@media only screen and (max-width: 750px) {

    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px
    }

    .vtimeline-icon {
        margin-left: 0
    }

    .vtimeline-content {
        margin-left: 70px
    }
}

@media only screen and (max-width: 992px) {
    #about {
        text-align: center
    }

    #about p {
        text-align: left
    }
}

@media only screen and (max-width: 768px) {

    header a{
        font-size: 1.8rem;
    }
    .education-block h3,
    .education-block span {
        float: none
    }

    .project {
        flex-direction: column;
        align-items: stretch;
    }

    .project-image img {
        width: 100%;
    }

    footer {
        text-align: center
    }

    .social {
        text-align: center
    }
}