/* Toggle switch for dark mode */
.toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    position: absolute;
    top: 0px;
    right: 10%;
    z-index: 11;
    padding: 20px 0;
}

.toggle span {
    margin: 0 0.2rem;
    max-width: 20px;
}

.toggle input[type="checkbox"] {
    position: fixed;
    top: -50px;
}

.toggle input[type="checkbox"]:checked+label {
    background: teal;
}

.toggle input[type="checkbox"]:checked+label:after {
    left: calc(100% - 2px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.toggle label {
    cursor: pointer;
    min-width: 50px;
    height: 25px;
    background: rgba(0, 0, 0, 0.27);
    display: block;
    border-radius: 20px;
    position: relative;
}

.toggle label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

.dark-mode .toggle label:after{
    background: #333;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

@media only screen and (max-width: 992px) {
    .toggle {
        top: 0px;
        right: 10px;
        width: 100px;
    }
}
@media only screen and (max-width: 768px) {
    .toggle {
        top: 40px;
        right: 10px;
        width: 100px;
    }
}
